@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li,
a {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(185, 188, 190);
    text-decoration: none;
    padding: 10px 2px;
}

.cta {
    font-family: "poppins", sans-serif;
    font-weight: 900;
    background: transparent;
    cursor: pointer;
}
.cta:hover{
    color: #fff;
    background-color: rgb(0, 0, 0);

}

nav {
    width: 80%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin: 10px;
}

.links {
    list-style: none;
    position: relative;
    z-index: 500;
}

.links li {
    display: inline-block;
    padding: 0 30px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color: black;
}

button {
    color: black;
    padding: 0.8rem 3.5rem;
    border: 3px solid black;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    /* transition: all 0.3s ease 0s; */
}

body {
    background: url(images/backgrounds/Untitled.png)no-repeat;
    position: relative;
    height: 100vh;
    width: 80%;
    background-size: cover;
    padding: 10px 5px;
    margin: 0 10%;
    overflow-x: hidden;
}

.container {
    display: flex;
    gap: 100px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 40px;
}

.container-text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-text h1 {
    font-size: 80px;
}

.container-text p {
    font-size: 15px;
    margin-bottom: 20px;
}

.container img {
    position: absolute;
    width: 600px;
    height: 410px;
    margin-top: 19px;
}

.fnb {
    background-color: black;
    border-radius: 5px;
    color: white;
    width: 270px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
/* --------------------------------------------------
                    footer
-----------------------------------------------------*/

footer{
    background: url(images/backgrounds/footer_background.png)no-repeat;
    background-size: cover;
    position: absolute;
    left: -13%;
    width: 100vw;
    height: auto;
    background-color: rgb(195, 188, 188);
    margin: 60px auto;
    padding: 30px 20px;
}
.F-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer .F-container h2{
    position: relative;
    color: black;
    font-weight: 900;
    font-size: 40px;
    margin: 5px 5px;
    /* margin-bottom: 15px; */

}
.FCL  h3{
    position: relative;
    color: black;
    font-weight: 900;
    font-size: 20px;
    margin: 5px 5px;
}
.FCL{
    width: 70%;
}
.FCL .column{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 33%;
}
footer .F-container ul {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 90%;
}

footer .F-container a{
    color: rgb(16, 13, 13);
    padding: 2px 2px;
}
footer .copyrightText{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 20px;
    padding-top: 45px;
}

/* ---------------------------------------------
                   guides
----------------------------------------------- */

.guides_body{
    background:url(images/backgrounds/guides_backround.jpg)no-repeat;
    background-size: cover;
    height: 200vh;
    /* background-clip: border-box; */
}
.guides{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.guides::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(30% at right 70%);
}
.guides::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(20% at 10% 10%);
}
.guides_container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    padding-top: 25px;
}
.guides_container h2 {
    position: absolute;
    top: 20px;
    left: 23%;
    font-size: 3rem;
    color: #ffffff;
    /* background: rgba(181, 174, 174, 0.152);  */
    padding: 10px; 
}
.guides_container .card img{
    max-width: 100%;
    max-height: 50%;
    margin-top: -80px;
    margin-bottom: -10px;
    /* opacity: 0;
    transition: 0.5s; */
}
/* .guides_container .card img:hover{
    opacity: 1;
} */
.guides_container .card {
    position:relative;
    flex-direction: column;
    width: 280px;
    height: 420px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0 , 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255 , 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    top: 100px;
}
.guides_container .card .content{
    padding: 10px;
    margin-top: -36px;
    text-align: center;
    transform: translateY(100px);
    /* ===the line under this one is the key to use a great animation=====*/
    /* opacity: 0; */
    transition: 0.5s;
    height: 50%;
}
/*----- if we use this comment and the line 266 it will use a really beautifull animation ----*/

/* .guides_container .card:hover .content{
    transform: translateY(100px);
    opacity: 1;
} */
.guides_container .card .content h3{
    font-size: 1.5rem;
    z-index: 1;
}
.guides_container .card .content p{
    font-size: 0.9em;
    font-weight: 300;

}
.guides_container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.guides_footer{
    margin-top: 150px;
}

/* ----------------------------------------------
                     flights
-------------------------------------------------*/

.flights_body{
    background:url(images/backgrounds/flights_backround.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    height: 100%;
}

.form_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -70px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.form_container h2{
    /* justify-content: center;
    text-align: center;
    padding: 20px; */
    position: absolute;
    top: 70px;
    left: 20%;
    font-size: 3rem;
    color: #fbfcff;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 30px; 
}
.form{
    justify-content:center;
    background-color: rgba(22, 20, 20, 0.566);
    box-shadow: 2px 2px 15px #3399ff;
    border-radius: 20px;
    height: 700px;
    width: 700px;
    margin: auto;
    padding: 20px;
}
.form_container .form_title{
    display: flex;
    /* position: relative; */
    justify-content: center;
    /* text-align: center; */
    padding: 20px;
    font-weight: 600;
    color: white
}
.form_container .form_title h3{
    position: relative;
    width: 150px;
    justify-content: center;
    border-bottom: 2px solid #3399ff;
    border-top: 2px solid #3399ff;
    border-radius: 20px;
    padding: 10px;
}
.input .input-group{
    color: #ffffff;
    width: 300px;
    margin: 10px;
    /* border: none; */
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.input2 .input-group{
    color: #fff;
    text-align: center;
    width: 195px;
    margin: 20px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.input3 .input-group{
    margin-left: 50px;
    color: #1388e7e8;
    font-weight: 600;
    margin: 30px;
}
label.text-white{
    color: #fff !important;
}
.input4 .input-group{
    width: 300px;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.input4 .input-group1{
    width: 615px;
    height: 50px;
    text-align: center;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.input5{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.input5 h3{
    position: relative;
    width: 200px;
    justify-content: center;
    border-bottom: 2px solid #3399ff;
    border-top: 2px solid #3399ff;
    border-radius: 15px;
    padding: 10px;
}
.input6 .input-group{
    width: 300px;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.input6 .input-group1{
    width: 615px;
    height: 50px;
    text-align: center;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-color: #fff;
}
.btn-submit{
    position: relative;
    border: none;
    font-weight: 700;
    color: #fff;
    background: rgba(0, 255, 0, 0.363);
    cursor: pointer;
}
.btn-reset{
    position: relative;
    border: none;
    font-weight: 700;
    color: #fff;
    background: rgba(0, 98, 255, 0.363);
    cursor: pointer;
}
.btn-submit:hover{
    background: rgba(0, 255, 0, 0.663);
}
.btn-reset:hover{
    background: rgba(2, 94, 241, 0.663);
}
::placeholder{
    color: #fff;
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;

    
}
.flights{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 .flights::before{
     content:'';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     clip-path: circle(30% at right 70%);
 }
 .flights::after{
     content:'';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     clip-path: circle(20% at 10% 10%);
 }
 .flights_container{
     position:relative;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     z-index: 1;
     padding-top: 25px;
 }
 .flights_container h2 {
     position: absolute;
     top: 20px;
     left: 20%;
     font-size: 3.5rem;
     color: #fbfcff;
     padding: 10px; 
 }
 .flights_container .flights_card img{
     max-width: 100%;
     max-height: 50%;
     margin-top: -80px;
     margin-bottom: -10px;
     /* opacity: 0;
     transition: 0.5s; */
 }
 /* .guides_container .card img:hover{
     opacity: 1;
 } */
 .flights_container .flights_card {
     position:relative;
     flex-direction: column;
     width: 280px;
     height: 420px;
     margin: 30px;
     box-shadow: 20px 20px 50px rgba(0, 0 , 0, 0.5);
     border-radius: 15px;
     background: rgba(255, 255 , 255, 0.1);
     overflow: hidden;
     display: flex;
     justify-content:center;
     align-items: center;
     border-top: 1px solid rgba(255, 255, 255, 0.5);
     border-left: 1px solid rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(5px);
     top: 100px;
 }
 .flights_container .flights_card .flight_content{
     padding: 10px;
     margin-top: -36px;
     text-align: center;
     transform: translateY(100px);
     /* ===the line under this one is the key to use a great animation=====*/
     /* opacity: 0; */
     transition: 0.5s;
     height: 50%;
 }
 /*----- if we use this comment and the line 266 it will use a really beautifull animation ----*/
 
 /* .guides_container .card:hover .content{
     transform: translateY(100px);
     opacity: 1;
 } */
 .flights_container .flights_card .flight_content h3{
     font-size: 1.5rem;
     z-index: 1;
 }
 .flights_container .flights_card .flight_content p{
     font-size: 0.9em;
     font-weight: 300;
 
 }
 .flights_container .flights_card .flight_content a{
     position: relative;
     display: inline-block;
     padding: 8px 20px;
     margin-top: 15px;
     background: #fff;
     color: #000;
     border-radius: 20px;
     text-decoration: none;
     font-weight: 500;
     box-shadow: 0 5px 15px rgba(0,0,0,0.2);
 }

 .flights_footer{
    margin-top: 120px;
}

/* -----------------------------------------------------
                         about
--------------------------------------------------------*/




.about-container {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    height: 80vh;
    padding-top: 60px;
}

.about-text {
    text-align: center;
    width: 40%;
    height: 100%;
    font-size: 20px;
    padding-top: 40px;
}


.container-text h2{
    font-size: 80px;
}

.container-text p{
    font-size: 15px;
    margin-bottom: 20px;
}

.about-container img{
    position: absolute;
    width: 600px;
    height: 410px;
    margin-top: 29px;
    margin-left: 40px;
}

/* --------------------------------------------------
                      contact
-----------------------------------------------------*/
.contact_body{
    background: url(images/backgrounds/flights_backround.jpg)no-repeat;
    background-size: cover;
}
.contact-form {
    width: 500px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(35, 245, 228, 0.7);
    padding: 40px;
    border-radius: 10px;
}

.contact-form h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.contact-group {
    text-align: center;
}

.contact .contact-group{
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
    border: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

